
<!DOCTYPE html>\
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prop Find</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  
<body>
<section id="top">
<div class="container">
 <div class="row">
  <div class="top_1 clearfix">
   <div class="col-sm-6">
    <div class="top_1l clearfix">
	 <ul>
	  <li><i class="fa fa-phone"></i> (XYZ) 0123 45678</li>
	  <li><i class="fa fa-map-marker"></i>   65 North Park Bwe, USA</li>
	  <li><i class="fa fa-envelope-o"></i>  info@gmail.com</li>
	 </ul>
	</div>
   </div>
   <div class="col-sm-6">
    <div class="top_1r pull-right clearfix">
	 <ul>
	  {% if request.session.username %}
			   <li class="nav-item"><a class="nav-link" href="{% url 'user_Logout' %}">{{request.session.username}} / Logout</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{% url 'login_register' %}">Register/Login</a></li>
				{% endif %}
	  <li><a class="col" href="#"><i class="fa fa-facebook"></i></a></li>
	  <li><a class="col" href="#"><i class="fa fa-twitter"></i></a></li>
	  <li><a class="col" href="#"><i class="fa fa-linkedin"></i></a></li>
	 </ul>
	 <select class="form-control">
				 <option>English</option>
				 <option>German</option>
				 <option>France</option>
				 <option>Italy</option>
     </select>
	</div>
   </div>
  </div>
 </div>
</div>
</section>	

<section id="header" class="clearfix cd-secondary-nav">
	<nav class="navbar">
		<div class="container">
		    <div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"> <i class="fa fa-home"></i> <span> Prop Find</span> </a>
			</div>
			<!-- Brand and toggle get grouped for better mobile display -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav nav_1">
				<li><a class="m_tag active_tab" href="{% url 'homepage' %}">Home</a></li>
				<li class="dropdown">
					  <a class="m_tag" href="{% url 'property_page' %}" role="button" aria-expanded="false">Property<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">

					  </ul>
                    </li>

				    <li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Tenant<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
						  {% for i in data4 %}
						<li><a href="{% url 'tenant_singlepage' Tname=i.Tenant %}">{{i.Tenant}}</a></li>
						  {% endfor %}

					  </ul>
                    </li>

				  <li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
						<li><a href="{% url 'blogpage' %}">Blog</a></li>

					  </ul>
                    </li>
				  <li><a class="m_tag" href="{% url 'aboutpage' %}">About Us</a></li>
				<li><a class="m_tag" href="{% url 'contactpage' %}">Contact</a></li>
			</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	</section>
	
<section id="center" class="center_blog clearfix">
 <div class="container">
  <div class="row">
   <div class="center_blog_1 text-center clearfix">
    <div class="col-sm-12">
	 <h2 class="mgt">BLOG</h2>
	 <h5><a href="blog_detail.html">Home</a>  /  Blog</h5>
	</div>
   </div><br>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/19.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/20.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/21.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/22.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/63.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/64.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/65.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="blog_detail.html"><img src="{% static 'img/66.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="blog_detail.html">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="blog_detail.html">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="product_1_last text-center clearfix">
	  <div class="col-sm-12">
	   <ul>
	    <li><a href="blog_detail.html"><i class="fa fa-chevron-left"></i></a></li>
	    <li class="act"><a href="blog_detail.html">1</a></li>
		<li><a href="blog_detail.html">2</a></li>
		<li><a href="blog_detail.html">3</a></li>
		<li><a href="blog_detail.html">4</a></li>
		<li><a href="blog_detail.html">5</a></li>
		<li><a href="blog_detail.html">6</a></li>
		<li><a href="blog_detail.html"><i class="fa fa-chevron-right"></i></a></li>
	   </ul>
	  </div>
	 </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
     <div class="col-sm-3">
	  <div class="footer_1i clearfix">
	    <a class="navbar-brand" href="index.html"> <i class="fa fa-home"></i> <span> Prop Find</span> </a>
		<p class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam, perspiciatis, aspernatur officiis esse.</p>
		<h6 class="col_3"><i class="fa fa-map-marker col"></i> 65 North Park Avenue, USA</h6>
		<h6 class="col_3"><i class="fa fa-phone col"></i> +91 123 456 7890</h6>
		<h6 class="col_3"><i class="fa fa-envelope col"></i> info@gmail.com</h6>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_1i1 clearfix">
	    <h4 class="col">Navigation</h4>
		<h6><a class="col_3" href="#">Home One</a> <span class="pull-right"><a class="col_3" href="#">Agents Details</a></span></h6>
		<h6><a class="col_3" href="#">Properties Right</a> <span class="pull-right"><a class="col_3" href="#">About Us</a></span></h6>
		<h6><a class="col_3" href="#">Properties List</a> <span class="pull-right"><a class="col_3" href="#">Blog Default</a></span></h6>
		<h6><a class="col_3" href="#">Properties Details</a> <span class="pull-right"><a class="col_3" href="#">Blog Details</a></span></h6>
		<h6><a class="col_3" href="#">Agents Listing</a> <span class="pull-right"><a class="col_3" href="#">Contact Us</a></span></h6>
	  </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="footer_1i2 clearfix">
        <h4 class="col">Twitter Feeds</h4>
		<div class="footer_1i2i clearfix">
		 <div class="col-sm-1 space_all">
		  <span><i class="fa fa-twitter col"></i></span>
		 </div>
		 <div class="col-sm-11">
		  <p class="mgt col_3"><a class="col" href="#">@Prop Find</a> All Share Them With Me Baby Said Inspet.<br>
<span class="bold col_2">about 7 days ago</span></p>
		 </div>
		</div>
		<div class="footer_1i2i clearfix">
		 <div class="col-sm-1 space_all">
		  <span><i class="fa fa-twitter col"></i></span>
		 </div>
		 <div class="col-sm-11">
		  <p class="mgt col_3"><a class="col" href="#">@Prop Find</a> All Share Them With Me Baby Said Inspet.<br>
<span class="bold col_2">about 7 days ago</span></p>
		 </div>
		</div>
		<div class="footer_1i2i clearfix">
		 <div class="col-sm-1 space_all">
		  <span><i class="fa fa-twitter col"></i></span>
		 </div>
		 <div class="col-sm-11">
		  <p class="mgt col_3"><a class="col" href="#">@Prop Find</a> All Share Them With Me Baby Said Inspet.<br>
<span class="bold col_2">about 7 days ago</span></p>
		 </div>
		</div>
	  </div>
	  </div>
	  <div class="col-sm-3">
	  <div class="footer_1i3 clearfix">
        <h4 class="col">Newsletters</h4>
        <p class="col_3">Sign Up for Our Newsletter to get Latest Updates and Offers. Subscribe to receive news in your inbox.</p>
		<input class="form-control" placeholder="Enter Your Email" type="text">
		<h5 class="text-center"><a class="button block" href="#">SUBSCRIBE</a></h5>
	  </div>
	  </div>
	 </div>
   <div class="footer_2 clearfix">
    <div class="col-sm-8">
	 <div class="footer_2l clearfix">
	  <p class="col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_2r text-right clearfix">
	   <ul class="social-network social-circle mgt">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
	 </div>
	</div>
   </div>
   </div>
  </div>
</section>

<script>
$(document).ready(function(){

/*****Fixed Menu******/
var secondaryNav = $('.cd-secondary-nav'),
   secondaryNavTopPosition = secondaryNav.offset().top;
	$(window).on('scroll', function(){
		if($(window).scrollTop() > secondaryNavTopPosition ) {
			secondaryNav.addClass('is-fixed');	
		} else {
			secondaryNav.removeClass('is-fixed');
		}
	});	
	
});
</script>

</body>
 
</html>
