<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Property Details</h4>

                  <form class="forms-sample" method="post" action="{% url 'save_property' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Property Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Property Name" name="property">
                    </div>
                      <div class="form-group">
                      <label >Description</label>
                      <textarea class="form-control" id="exampleTextarea2" rows="4" name="Description">Description</textarea>
                    </div>
                    <div class="form-group">
                      <label >Property Type</label>
                      <select class="form-control" name="type" placeholder="Property Type">
                        <option>1BHK</option>>
                        <option>2BHK</option>>
                        <option>3BHK</option>>
                        <option>4BHK </option>>
                      </select>
                    </div>

                      <div class="form-group">
                      <label for="exampleInputName1">Location</label>
                      <input type="text" class="form-control"  placeholder="Location" name="Loc">
                    </div>


                    <div class="form-group">
                      <label for="exampleInputName1">Address</label>
                      <textarea type="text" class="form-control"  placeholder="" name="address">Address</textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control"  placeholder="Price" name="price">
                    </div>

                     <div class="form-group">

                      <label for="exampleInputName1">Tenant Name</label>

                       <select class="form-control" name="tenant" >
                         {% for i in data %}
                         <option >{{i.Tenant}}</option>
                         {% endfor %}
                       </select>

                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Area</label>
                      <input type="text" class="form-control"  placeholder="Area" name="area">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Parking</label>
                      <input type="text" class="form-control"  placeholder="Parking" name="parking">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Garage</label>
                      <input type="text" class="form-control"  placeholder="Garage" name="garage">
                    </div>

                  <div class="form-group">
                      <label >Property Status</label>
                      <select class="form-control" name="status" >
                        <option>Sold</option>>
                        <option>Rent</option>>
                        <option>Sale</option>>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">BedRooms</label>
                      <input type="text" class="form-control"  placeholder="BedRooms" name="bed">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Bathrooms</label>
                      <input type="text" class="form-control"  placeholder="Bathrooms" name="bath">
                    </div>
                    <div class="form-group">
                      <label>File upload</label>
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="img">

                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  </form>
                </div>
              </div>

</body>
{% endblock %}
</html>